<div class="container-fluid">
  <div class="row" id="nabarBox">
    <div class="col-3 itembox">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Employee Attendance</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <i class="fa fa-user fa-5x"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
    <div class="col-3 itembox">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Salary</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <i class="fa fa-user fa-5x"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
    <div class="col-3 itembox">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Leave Tracking</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <i class="fa fa-user fa-5x"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
    <div class="col-3 itembox">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Holidays/Birthday</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <i class="fa fa-user fa-5x"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
  </div>
  <div class="container">
    <!-- employee attendance -->
    <!-- <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row inputbox">
          <div class="col-3">
            <div class="form-group">
              <select class="form-control gendercontrol">
                <option value="Department">Department</option>
              </select>
            </div>
          </div>
          <div class="col-3">
              <div class="form-group">
                <select class="form-control gendercontrol">
                  <option value="Employee List">Employee List</option>
                </select>
              </div>
            </div>
          <div class="col-6">
            <a class="btn btn-default btntheme" href="#">Continue</a>
            <a class="btn btn-default btntheme" href="#">Cancel</a>
          </div>
        
        </div>
      </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Emp ID</th>
                <th>Emp Name</th>
                <th>Working Days</th>
                <th>Holidays</th>
                <th>Vacation Days</th>
                <th>Department</th>
                <th>Reporting Manager</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>001</td>
                <td>Srinivas</td>
                <td>500</td>
                <td>15</td>
                <td>20</td>
                <td>Development</td>
                <td>Vijay</td>
                <td>Active</td>
              </tr>
              <tr>
                  <td>001</td>
                  <td>Srinivas</td>
                  <td>500</td>
                  <td>15</td>
                  <td>20</td>
                  <td>Development</td>
                  <td>Vijay</td>
                  <td>Active</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Srinivas</td>
                    <td>500</td>
                    <td>15</td>
                    <td>20</td>
                    <td>Development</td>
                    <td>Vijay</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                      <td>001</td>
                      <td>Srinivas</td>
                      <td>500</td>
                      <td>15</td>
                      <td>20</td>
                      <td>Development</td>
                      <td>Vijay</td>
                      <td>Active</td>
                    </tr>
            </tbody>
          </table>
                 <div class="ml-auto">
                <nav>
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
    </div> -->
    <!-- ends employee attendance -->

    <!-- salary slips -->
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row inputbox">
          <div class="col-3">
            <div class="form-group">
              <select class="form-control gendercontrol">
                <option value="Department">Department</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <select class="form-control gendercontrol">
                <option value="Employee List">Month </option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-default btntheme" href="#">Get</button>
            <button class="btn btn-default btntheme" href="#">Cancel</button>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <div class="formgroup">
                <input type="checkbox" id="cbk">
                <label for="cbk"></label>
              </div>
            </th>
            <th>Emp ID</th>
            <th>Emp Name</th>
            <th>Department</th>
            <th>Upload File</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="formgroup">
                <input type="checkbox" id="cbk1">
                <label for="cbk1"></label>
              </div>
            </td>
            <td>001</td>
            <td>Srinivas</td>
            <td>Development</td>
            <td><input type="file" placeholder="Upload file"></td>
          </tr>
          <tr>
            <td>
              <div class="formgroup">
                <input type="checkbox" id="cbk1">
                <label for="cbk1"></label>
              </div>
            </td>
            <td>001</td>
            <td>Srinivas</td>
            <td>Development</td>
            <td><input type="file" placeholder="Upload file"></td>
          </tr>
          <tr>
            <td>
              <div class="formgroup">
                <input type="checkbox" id="cbk1">
                <label for="cbk1"></label>
              </div>
            </td>
            <td>001</td>
            <td>Srinivas</td>
            <td>Development</td>
            <td><input type="file" placeholder="Upload file"></td>
          </tr>

          <tr>
            <td>
              <div class="formgroup">
                <input type="checkbox" id="cbk1">
                <label for="cbk1"></label>
              </div>
            </td>
            <td>001</td>
            <td>Srinivas</td>
            <td>Development</td>
            <td><input type="file" placeholder="Upload file"></td>
          </tr>

          <tr>
            <td>
              <div class="formgroup">
                <input type="checkbox" id="cbk1">
                <label for="cbk1"></label>
              </div>
            </td>
            <td>001</td>
            <td>Srinivas</td>
            <td>Development</td>
            <td><input type="file" placeholder="Upload file"></td>
          </tr>

          <tr>
            <td>
              <div class="formgroup">
                <input type="checkbox" id="cbk1">
                <label for="cbk1"></label>
              </div>
            </td>
            <td>001</td>
            <td>Srinivas</td>
            <td>Development</td>
            <td><input type="file" placeholder="Upload file"></td>
          </tr>

        </tbody>
      </table>
      <!-- <div class="ml-auto">
        <nav>
          <ul class="pagination justify-content-end mt-3 mr-3">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <span class="page-link">2<span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div> -->
      <div class="btncenter">
        <div class="row">
          <button type="button" class="btn btn-default btntheme">Submit</button>
          <button type="button" class="btn btn-default btntheme">Cancel</button>
        </div>
      </div>
    </div>
    <!-- end salryslips -->
    <div class="row" style="margin-top: 7rem; margin-bottom: 15px;">
      <!-- <canvas id="base" class="chart-base" chart-type="type"
        chart-data="data" chart-labels="labels" chart-legend="true">
      </canvas> -->
      <!-- <canvas baseChart [chartType]="'horizontalBar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions" [legend]="false" [colors]="colors"
          class="col-6" (chartClick)="onChartClick($event)">
        </canvas> -->
      <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions" [legend]="false"
        [colors]="colors" class="col-7" (chartClick)="onChartClick($event)">
      </canvas>

    </div>
  </div>
</div>