<div id='heading'>
  <h5>Project Allocation</h5>
</div>

<div>
  <div class="d-inline mx-auto right">
    <button class="btn btn-default btntheme_search" href="javascript:void(0)" (click)="addTask()">Add Task</button>
  </div>
  <table class="table table-striped m_b_15" id="projectTable">
    <thead>
      <tr>
        <th scope="col">
          <input type="text" id="taskId" name="taskId" class="form-control" [(ngModel)]="taskId" placeholder="Task ID" value="">
        </th>
        <th scope="col">
          <select class="form-control gendercontrol" name="ProjectTitle" id="ProjectTitle" [(ngModel)]="ProjectTitle">
            <option [ngValue]="undefined" disabled selected>Project Title</option>
            <option *ngFor="let list of projectList" [ngValue]="list['projectName']"> {{list['projectName']}}</option>
          </select>
        </th>
        <th scope="col">
          <input type="text" id="taskTitle" name="taskTitle" class="form-control" [(ngModel)]="taskTitle" placeholder="Task Title"
            value="">
        </th>
        <th scope="col">
          <select class="form-control gendercontrol" name="assignedBy" id="assignedBy" [(ngModel)]="assignedBy">
            <option [ngValue]="undefined" disabled selected>Assigned By</option>
            <option *ngFor="let list of managerList" [ngValue]="list['empName']"> {{list['empName']}}</option>
          </select>
        </th>
        <th scope="col">
          <select class="form-control gendercontrol" name="assignedTo" id="assignedTo" [(ngModel)]="assignedTo">
            <option [ngValue]="undefined" disabled selected>Assigned To</option>
            <option *ngFor="let list of employeeList" [ngValue]="list['empName']"> {{list['empName']}}</option>
          </select>
        </th>
        <th scope="col">
          <input type="date" id="assignedDate" name="assignedDate" class="form-control" [(ngModel)]="assignedDate" placeholder="Assigned Date"
            value="">
        </th>
        <!-- <th scope="col">MAIL(OFFICIAL)</th> -->
        <!-- <th scope="col">CONTACT</th> -->
        <th class="align_center" scope="col">
          <button (click)="search()" href="javascript:void(0)" class="btn btn-default btntheme_search">Search</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Task ID</th>
        <th scope="col">Project Title</th>
        <th scope="col">Task Title</th>
        <th scope="col">Assigned By</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Assigned Date</th>
        <th class="align_center" scope="col">ACTIONS</th>
      </tr>
      <tr *ngFor="let task of taskList">
        <td>{{task['taskId']}}</td>
        <td>{{task['projectName']}}</td>
        <td>{{task['taskTitle']}}</td>
        <td>{{task['assignedBy']}}</td>
        <td>{{task['assignedTo']}}</td>
        <td>{{task['assignedDate']}}</td>
        <td class="align_center">
          <div>
            <i class="fa fa-pencil m_r_5 float_none cursor" title="Assign Task" aria-hidden="true" (click)="assignTask(task)"></i>
            <i class="fa fa-trash-o float_none cursor" title="Delete Task" aria-hidden="true" (click)="deleteTask(task)"></i>
          </div>
        </td>
      </tr>
      <!-- <tr *ngIf="totalRecords==0"><td colspan="6" style="text-align: center;">No Records Found</td></tr> -->
    </tbody>
    <tfoot *ngIf="pagination">
      <tr>
        <td colspan="6">
          <nav class="float_right">
            <ul class="pagination">
              <!--Arrow left-->
              <li class="page-item">
                <button class="page-link" (click)="prevRow()" [disabled]="disablePrev" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </button>
              </li>

              <!--Numbers-->
              <li class="page-item" *ngFor="let num of currentSet" (click)="setPages(num)">
                <a class="page-link" [ngClass]="getCSSClasses(num)">{{num}}</a>
              </li>

              <!--Arrow right-->
              <li class="page-item">
                <button class="page-link" (click)="nextRow()" [disabled]="disableNext" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </button>
              </li>
            </ul>
          </nav>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<app-add-task *ngIf="isAddTask" [isselect]="isAddTask" (isselectChange)="isselectChange($event)"></app-add-task>
<app-assign-task *ngIf="isAssignTask" [isselect]="isAssignTask" [selectedTask]="selectedTask" (isselectChange)="isselectAssignChange($event)"></app-assign-task>