<div class="container-fulid loginwrapper">
  <!-- <div class="row">
      <div class="col-sm-8 col-lg-8 col-md-8 loginleftside">
        <div class="">
hgghhghg
        </div>
        </div>
    <div class="col-sm-4 col-lg-4 col-md-4 dbitem">
hgffhhfhgf
    </div>
  </div> -->
  <div class="split left">
    <!-- <div class="centered">
      </div> -->
  </div>

  <div class="split right">
    <div class="centered">
      <div class="loginlogo">
        <img src="../../../assets/images/gst_logo.png" alt="logo">
      </div>

      <div>
        <form class="form-signin">
          <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input type="text" class="form-control mb-4" placeholder="Email" required autofocus>
          </div>
          <div class="input-container">
            <i class="fa fa-lock icon pswicon"></i>
            <input type="text" class="form-control mb-4" placeholder="Password" required autofocus>
          </div>
          <div class="row forgotdiv">
            <div class="col-md-6 text-center">
              <span class="float-md-left">
                <label class="checkbox chbklabel">
                  <input type="checkbox" value="remember-me">
                 <span class="remtext">Remember me</span> 
                </label>
              </span>
            </div>
            <div class="col-md-6 text-center">
              <span class="float-md-right"><a href="#" class="forgotlink">Forgot Password?</a></span>
            </div>
          </div>
          <div class="row forgotdiv">
              <div class="col-md-12 text-center">
                <span class="">
                    <button type="button" class="btn btn-outline-dark btn-sm logbtn">Login</button>
                </span>
              </div>
              <!-- <div class="col-md-6 text-center">
                <span class="float-md-right"> <button type="button" class="btn btn-outline-dark btn-sm singbtn">Signup</button></span>
              </div> -->
            </div>
        
        </form>
      
      </div>
    </div>
    <div class="bottomdiv"> 
     <a href="" class="text-center">Terms of use. Privacy Policy</a>
        </div> 
  </div>