<div class="container-fluid">
  <div class="row" id="nabarBox" style="margin-top:15px; margin-bottom: 15px;">
    <div class="col-3 itembox" (click)="setGraph('Total Employees')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Total Employees</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <!-- <i class="fa fa-user fa-4x"></i> -->
                  <img src="../../../assets/images/employee.png" alt="employee img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['totalEmployees']}}</a>
                <br/>
                <!-- <a href="javascript:void(0)" (click)="employeesList()">List of Employees</a> -->
              </div>
            </div>
          </div>

        </div>
      </a>

    </div>
    <div class="col-3 itembox" (click)="setGraph('Appointed')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Appointed</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <img src="../../../assets/images/hiring_icon.png" alt="employee img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['appointedEmployees']}}</a>
              </div>

            </div>
          </div>

        </div>
      </a>

    </div>
    <div class="col-3 itembox" (click)="setGraph('Relieving')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Reliving</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <img src="../../../assets/images/reliving_icon.png" alt="employee img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['releivingEmployees']}}</a>
              </div>

            </div>
          </div>

        </div>
      </a>

    </div>
    <div class="col-3 itembox" (click)="setGraph('Fired')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Fired</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <img src="../../../assets/images/fired_icon.png" alt="fired img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['firedEmployees']}}</a>
              </div>

            </div>
          </div>

        </div>
      </a>

    </div>
  </div>
  <div class="d-inline mx-auto right">
    <button class="btn btn-default btntheme_search" href="javascript:void(0)" (click)="getData()">Reset Chart</button>
  </div>
  <div class="row" *ngIf="!isEmployeeList">
    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions" [legend]="false"
      [colors]="colors" class="col-9" (chartClick)="onChartClick($event)">
    </canvas>
    <div class=col-3>
      <a [routerLink]="['/employeeList']">Click here for Total Employee List</a>
    </div>
    <!-- <app-employee-list class="col-5"></app-employee-list> -->
  </div>

</div>