<div class="container-fluid">
  <div class="row" id="nabarBox" style="margin-top:15px; margin-bottom: 15px;">
    <div class="col-3 itembox" (click)="setGraph('Total Employees')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Total Employees</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <!-- <i class="fa fa-user fa-4x"></i> -->
                  <img src="../../../assets/images/employee.png" alt="employee img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['totalEmployees']}}</a>
                <br/>
                <!-- <a href="javascript:void(0)" (click)="employeesList()">List of Employees</a> -->
              </div>
            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
    <div class="col-3 itembox" (click)="setGraph('Appointed')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Appointed</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <img src="../../../assets/images/hiring_icon.png" alt="employee img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['appointedEmployees']}}</a>
              </div>

            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
    <div class="col-3 itembox" (click)="setGraph('Relieving')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Reliving</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <img src="../../../assets/images/reliving_icon.png" alt="employee img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['releivingEmployees']}}</a>
              </div>

            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
    <div class="col-3 itembox" (click)="setGraph('Fired')">
      <a href="javascript:void(0)">
        <div class="hero1">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-md-center">Fired</h4>
              <div class="userlink">
                <a href="javascript:void(0)">
                  <img src="../../../assets/images/fired_icon.png" alt="fired img">
                </a>
              </div>
              <div class="itemcount userlink">
                <a class="btn btn-default btn-circle btn-lg " href="javascript:void(0)">{{pageData['firedEmployees']}}</a>
              </div>

            </div>
          </div>

        </div>
        <div class="hero2"></div>
      </a>

    </div>
  </div>
  <div class="row" *ngIf="!isEmployeeList">
    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions" [legend]="false"
      [colors]="colors" class="col-7" (chartClick)="onChartClick($event)">
    </canvas>
    <app-employee-list class="col-5"></app-employee-list>
    <!-- <div class="col-6">
         
          <div class="col-12 " id="calendar-container" style="text-align: center">
            <div>
              <i class="fa fa-chevron-left" (click)="prevMonth()" style="float: left; cursor: pointer;"></i>
              {{date.format('MMMM')}} {{date.format('YYYY')}}
              <i class="fa fa-chevron-right" (click)="nextMonth()" style="float: right; cursor: pointer;"></i>
            </div>
          </div>
          <div id="calendar-container" class="col-12" style="text-align: center">
            <div class="row m-0">
              <div class="p-2 calendar-week-days bd-highlight">SU</div>
              <div class="p-2 calendar-week-days bd-highlight">MO</div>
              <div class="p-2 calendar-week-days bd-highlight">TU</div>
              <div class="p-2 calendar-week-days bd-highlight">WE</div>
              <div class="p-2 calendar-week-days bd-highlight">TH</div>
              <div class="p-2 calendar-week-days bd-highlight">FR</div>
              <div class="p-2 calendar-week-days bd-highlight">SA</div>
            </div>
            <div class="row m-0">
              <div class="p-2 calendar-days bd-highlight " *ngFor="let day of daysArr" (click)="selectedDate(day)" [ngClass]="{'inactive':!day, 'today':todayCheck(day)}">{{day?.date()}}</div>
            </div>
          </div>


        </div> -->
    <!-- <div class="col-2">
          <ul>
            <li class="event-hire-bullet">
              <span class="event-head">Hiring</span>
              <span class="label label-default badge event-hire-headBatch">5</span>
            </li>
            <p class="m-0">
              <a class="event-hire" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-hire" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-hire" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-hire" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-hire" href="javascript.void(0)">test</a>
            </p>
            <li class="event-relieve-bullet">
              <span class="event-head">Relieving</span>
              <span class="label label-default badge event-relieve-headBatch">3</span>
            </li>
            <p class="m-0">
              <a class="event-relieve" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-relieve" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-relieve" href="javascript.void(0)">test</a>
            </p>
            <li class="event-fire-bullet">
              <span class="event-head">Fired</span>
              <span class="label label-default badge event-fire-headBatch">2</span>
            </li>
            <p class="m-0">
              <a class="event-fire" href="javascript.void(0)">test</a>
            </p>
            <p class="m-0">
              <a class="event-fire" href="javascript.void(0)">test</a>
            </p>
          </ul>
        </div> -->
  </div>

</div>