<div class="container-fulid">
  <div class="deptWrapper">
    <div class="topright">
      <div class="card bg-light">
        <div class="card-header text-center">
          <p class="card-text datespan"><span>Oct</span>  <span>2018</span></p>
        </div>
      </div>

    </div>
    <div class="card-columns custom-columns">
      <div class="card bg-warning cursor" (click)="setGraph('HR')">
        <div class="card-body text-center">
          <div class="card-text">
            <h5>Hr</h5>
            <h5>Department</h5>
          </div>
        </div>
      </div>
      <div class="card bg-warning cursor" (click)="setGraph('Account')">
          <div class="card-body text-center">
            <div class="card-text">
              <h5>Account</h5>
              <h5>Department</h5>
            </div>
          </div>
        </div>
      <div class="card bg-warning cursor" (click)="setGraph('Development')">
        <div class="card-body text-center">
          <div class="card-text">
            <h5>Development</h5>
            <h5>Department</h5>
          </div>
        </div>
      </div>
      <div class="card bg-warning cursor" (click)="setGraph('Technical')">
          <div class="card-body text-center">
            <div class="card-text">
              <h5>Technical</h5>
              <h5>Department</h5>
            </div>
          </div>
        </div>
      <div class="card bg-warning cursor" (click)="setGraph('Marketing')">
        <div class="card-body text-center">
          <div class="card-text">
            <h5>Marketing</h5>
            <h5>Department</h5>
          </div>
        </div>
      </div>
      <div class="card bg-warning cursor" (click)="setGraph('Non-Technical')">
          <div class="card-body text-center">
            <div class="card-text">
              <h5>Non-Technical</h5>
              <h5>Department</h5>
            </div>
          </div>
        </div>
      <div class="card bg-warning cursor" (click)="setGraph('Admin')">
        <div class="card-body text-center">
          <div class="card-text">
            <h5>Admin</h5>
            <h5>Department</h5>
          </div>
        </div>
      </div>
      <div class="card bg-warning cursor" (click)="setGraph('Support')">
          <div class="card-body text-center">
            <div class="card-text">
              <h5>Support</h5>
              <h5>Department</h5>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions" [legend]="false" [colors]="colors"
      class="col-8" (chartClick)="onChartClick($event)">
    </canvas>
    <!-- <div class="col-5">
    </div> -->
    
  </div>
</div>