<div id='stages'>
  <nav role='navigation' class="d-flex justify-content-center">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a href="#" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
          aria-selected="true">Office Details</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
          aria-selected="false">Personal Details</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
          aria-selected="false">Document Details</a>
      </li>
      <li class="nav-item">
        <a href="#">Other Details</a>
      </li>
    </ul>
  </nav>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div>
      <div class="row inputbox">
        <div class="col-4">
          <div class="form-group">
            <label for="name" class="control-label">Employee ID</label>
            <input type="text" name="name" class="form-control" placeholder="Employee ID" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Employee Name</label>
            <input type="text" name="name" class="form-control" placeholder="Employee Name" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Full Name</label>
            <input type="text" name="name" class="form-control" placeholder="Full Name" value="">

          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="name" class="control-label">Gender</label>
            <select class="form-control gendercontrol">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Date of Joining GST</label>
            <input type="text" name="name" class="form-control" placeholder="Date of Joining GST" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Boold Group</label>
            <input type="text" name="name" class="form-control" placeholder="Boold Group" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Marital status</label>
            <input type="text" name="name" class="form-control" placeholder="Marital status" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="name" class="control-label">Qualification</label>
            <input type="text" name="name" class="form-control" placeholder="Qualification" value="">
          </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label for="name" class="control-label">Designation</label>
              <input type="text" name="name" class="form-control" placeholder="Qualification" value="">
            </div>
          </div>
      </div>
      <section>
        <div class="d-inline mx-auto center">
          <a class="btn btn-default btntheme" href="#">Continue</a>
          <a class="btn btn-default btntheme" href="#">Cancel</a>
        </div>
      </section>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div>
      <div class="row inputbox">
        <div class="col-4">
          <div class="form-group">
            <label for="name" class="control-label">Present Address</label>
            <input type="text" name="name" class="form-control" placeholder="Present Address" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Permanent Address</label>
            <input type="text" name="name" class="form-control" placeholder="Permanent Address" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Email id Personal</label>
            <input type="text" name="name" class="form-control" placeholder="Email-ID Personal" value="">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="name" class="control-label">Email id Official</label>
            <input type="text" name="name" class="form-control" placeholder="Email-ID Official" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">PanCard</label>
            <input type="text" name="name" class="form-control" placeholder="Pancard" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Adhar Number</label>
            <input type="text" name="name" class="form-control" placeholder="Adhar" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Bank Name</label>
            <input type="text" name="name" class="form-control" placeholder="Bank Name" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Bank Account Name</label>
            <input type="text" name="name" class="form-control" placeholder="Bank Account Name" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Bank Account No</label>
            <input type="number" name="name" class="form-control" placeholder="Bank Account No" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Team Lead Representation</label>
            <input type="text" name="name" class="form-control" placeholder="Team Lead Representation" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">UAN NO</label>
            <input type="text" name="name" class="form-control" placeholder="UAN NO" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Last Working Day</label>
            <input type="text" name="name" class="form-control" placeholder="Last Working Day" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Reason for Leave</label>
            <input type="text" name="name" class="form-control" placeholder="Reason for Leave" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Full & Final Settilement</label>
            <input type="text" name="name" class="form-control" placeholder="Full & Final Settilement" value="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group ">
            <label for="name" class="control-label">Remarks</label>
            <input type="text" name="name" class="form-control" placeholder="Remarks" value="">
          </div>
        </div>
      </div>
      <section>
        <div class="d-inline mx-auto center">
          <a class="btn btn-default btntheme" href="#">Continue</a>
          <a class="btn btn-default btntheme" href="#">Cancel</a>
        </div>
      </section>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>