<!-- <footer class="footer">
  <div class="container-fulid">
    <div class="row" id="footerRow">
      <div class="col-md-4 footer-copyright">
        <span class="copyR"> Copyright ©2018 <span class="sep"> | </span> GoldenSun Technology Pvt Ltd</span>
      </div>
      <div class="col-md-4 footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-md-4 footerlinks">
        <div class="footerR_top">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Condtions</a>
            <a href="#" id="contactlink">Contact Us</a>
        </div>
         
        </div>
    </div>
  </div>
</footer> -->