<div id="wrapper" [ngClass]="{'toggled' : toggle }">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" *ngIf="isLoggedIN()">
    <ul class="sidebar-nav" style="margin-left:0;">
      <li class="sidebar-brand" id="sidbarLogo">
        <a href="javascript:void(0);">
          <img src="../../../assets/images/gstlogo_admin.png" alt="gst logo" class="adminlogo" />
        </a>
      </li>
      <li class="sidebar-brand" id="sidebarTogglebtn">
        <a href="javascript:void(0);" id="menu-toggle" (click)="toggle = !toggle" style="margin-top:10px;float:right;">
          <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true"></i>
        </a>
      </li>
      <li data-toggle="collapse" data-target="#products" class="collapsed active" (click)="producttoggle = !producttoggle">
        <a href="javascript:void(0);">
          <img src='../assets/images/UserManagement@4x-8.png' style="width:16%;margin-left: 15px;" (click)="toggle = !toggle" />
          <!-- <i class="fa fa-sort-alpha-asc " aria-hidden="true" (click)="toggle = !toggle"> </i> -->
          <span style="margin-left:10px;">User Management
          </span>
        </a>
        <ul class="sub-menu collapse" id="products" [ngClass]="{'hide' : producttoggle }">
          <li class="active">
            <a href="javascript:void(0);" [routerLink]="['/userDashboard']"><u>User Dashboard</u></a>
          </li>
          <li>
            <a href="javascript:void(0);" [routerLink]="['/userCreation']"><u>User Creation</u></a>
          </li>
          <li>
            <a href="javascript:void(0);" [routerLink]="['/departments']"><u>Departments</u></a>
          </li>
          <li>
            <a href="javascript:void(0);" [routerLink]="['/roles']"><u>Roles</u></a>
          </li>
        </ul>

      </li>
      <li>
        <a href="javascript:void(0);" [routerLink]="['/hrManagement']">
          <img src='../assets/images/HRManagement@4x-8.png' style="width:16%;margin-left: 15px;" (click)="toggle = !toggle" />
          <!-- <i class="fa fa-play-circle-o " aria-hidden="true"> </i> -->
          <span style="margin-left:10px;">HR Management
          </span>
        </a>
      </li>
      <li data-toggle="collapse" data-target="#projects" class="collapsed active" (click)="projecttoggle = !projecttoggle">
        <a href="javascript:void(0);">
          <img src='../assets/images/ProjectManagement@4x-8.png' style="width:16%;margin-left: 15px;" (click)="toggle = !toggle" />
          <!-- <i class="fa fa-puzzle-piece" aria-hidden="true" (click)="toggle = !toggle"> </i> -->
          <span style="margin-left:10px;">Project Management
          </span>
        </a>
        <ul class="sub-menu collapse" id="projects" [ngClass]="{'hide' : projecttoggle }">
          <li class="active">
            <a href="javascript:void(0);" [routerLink]="['/projectDashboard']"><u>Project Dashboard</u></a>
          </li>
          <li>
            <a href="javascript:void(0);" [routerLink]="['/projectCreation']"><u>Project Creation</u></a>
          </li>
          <li>
            <a href="javascript:void(0);" [routerLink]="['/projectAllocation']"><u>Project Allocation</u></a>
          </li>
          <li>
            <a href="javascript:void(0);" [routerLink]="['/taskAllocation']"><u>Assign Project Task</u></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src='../assets/images/EventManagement@4x-8.png' style="width:16%;margin-left: 15px;" (click)="toggle = !toggle" />
          <!-- <i class="fa fa-font" aria-hidden="true"> </i> -->
          <span style="margin-left:10px;">Event Management</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src='../assets/images/Reports@4x-8.png' style="width:16%;margin-left: 15px;" (click)="toggle = !toggle" />
          <!-- <i class="fa fa-info-circle " aria-hidden="true"> </i> -->
          <span style="margin-left:10px;">Reports
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>