<div id='heading'>
  <h5>Project Creation</h5>
</div>

<div class="tab-content">
  <div>
    <div>
      <form #projectCreation="ngForm">
        <div class="row inputbox">
          <div class="col-4">
            <label for="projectID" class="control-label">Project ID <sup class="astrick">*</sup></label>
            <input type="text" id="projectID" name="projectID" class="form-control" [(ngModel)]="project['projectID']" placeholder="Project ID"
              value="" #projectID="ngModel" required>
            <div *ngIf="projectID.invalid && (projectID.dirty || projectID.touched)" class="alert alert-danger">
              Enter Project ID
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectName" class="control-label">Project Name <sup class="astrick">*</sup></label>
              <input type="text" id="projectName" name="projectName" class="form-control" [(ngModel)]="project['projectName']" placeholder="Project Name"
                value="" #projectName="ngModel" required>
              <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)" class="alert alert-danger">
                Enter Project Name
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectFullName" class="control-label">Project FullName <sup class="astrick">*</sup></label>
              <input type="text" id=projectFullName name="projectFullName" class="form-control" [(ngModel)]="project['FullName']" placeholder="Project FullName"
                value="" #projectFullName="ngModel" required>
              <div *ngIf="projectFullName.invalid && (projectFullName.dirty || projectFullName.touched)" class="alert alert-danger">
                Enter Project FullName
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectStatus" class="control-label">Project Status <sup class="astrick">*</sup></label>
              <select class="form-control gendercontrol" name="projectStatus" id="projectStatus" [(ngModel)]="project['project_status']"
                #projectStatus="ngModel" required>
                <option [ngValue]="undefined" disabled selected>Select Project Status</option>
                <option *ngFor="let list of statusList" [ngValue]="list['value']"> {{list['key']}}</option>
              </select>
              <div *ngIf="projectStatus.invalid && (projectStatus.dirty || projectStatus.touched)" class="alert alert-danger">
                Select Project Status
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectStartingDate" class="control-label">Project Starting Date <sup class="astrick">*</sup></label>
              <input type="date" id=projectStartingDate name="projectStartingDate" class="form-control" [(ngModel)]="project['projectStartingDate']"
                placeholder="Project Starting Date" value="" #projectStartingDate="ngModel" required>
              <div *ngIf="projectStartingDate.invalid && (projectStartingDate.dirty || projectStartingDate.touched)" class="alert alert-danger">
                Select Starting Date
              </div>
            </div>
          </div>
        </div>
        <section>
            <div class="d-inline mx-auto center">
              <button  class="btn btn-default btntheme" href="javascript:void(0)" [disabled]="projectCreation.invalid" (click)="saveProject()">Save</button >
            </div>
          </section>
      </form>
    </div>
  </div>
</div>
<app-select-team *ngIf="isselect" [isselect]="isselect" (isselectChange)="isselectChange($event)" (selectTeam)="selectedTeam($event)"></app-select-team>