<div id='stages'>
  <nav role='navigation' class="d-flex justify-content-center">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="setSelectTab('projectDetails')">Project Details</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="setSelectTab('taskDetails')">Task Details</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="setSelectTab('deadlineDetails')">Deadline Details</a>
      </li>
      <!-- <li class="nav-item">
        <a href="javascript:void(0)">Other Details</a>
      </li> -->
    </ul>
  </nav>
</div>

<div class="tab-content">
  <div *ngIf="projectDetails">
    <div>
      <form #parta="ngForm">
        <div class="row inputbox">
          <div class="col-4">
            <label for="projectId" class="control-label">Project ID</label>
            <input type="text" id="projectId" name="projectId" class="form-control" [(ngModel)]="project['projectId']" placeholder="Project ID"
              value="" #projectId="ngModel" required>
            <div *ngIf="projectId.invalid && (projectId.dirty || projectId.touched)" class="alert alert-danger">
              Enter Project ID
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectName" class="control-label">Project Name</label>
              <input type="text" id="projectName" name="projectName" class="form-control" [(ngModel)]="project['projectName']" placeholder="Project Name"
                value="" #projectName="ngModel" required>
              <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)" class="alert alert-danger">
                Enter Project Name
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectFullName" class="control-label">Project FullName</label>
              <input type="text" id=projectFullName name="projectFullName" class="form-control" [(ngModel)]="project['FullName']" placeholder="Project FullName"
                value="" #projectFullName="ngModel" required>
              <div *ngIf="projectFullName.invalid && (projectFullName.dirty || projectFullName.touched)" class="alert alert-danger">
                Enter Project FullName
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectManager" class="control-label">Project Manager</label>
              <select class="form-control gendercontrol" name="projectManager" id="projectManager" [(ngModel)]="project['projectManager']"
                #projectManager="ngModel" required>
                <option [ngValue]="undefined" disabled selected>Select Project Manager</option>
                <option *ngFor="let list of managerList" [ngValue]="list"> {{list['empName']}}</option>
              </select>
              <div *ngIf="projectManager.invalid && (projectManager.dirty || projectManager.touched)" class="alert alert-danger">
                Select Project Manager
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectTeam" class="control-label">Project Team</label>
              <div class="cursor">
                <a (click)="setTeam()">Select Team</a>
              </div>
              <p *ngIf="selectedList['length']">{{selectedList['length']}} persons selected</p>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectStatus" class="control-label">Project Status</label>
              <select class="form-control gendercontrol" name="projectStatus" id="projectStatus" [(ngModel)]="project['projectStatus']"
                #projectStatus="ngModel" required>
                <option [ngValue]="undefined" disabled selected>Select Project Status</option>
                <option *ngFor="let list of statusList" [ngValue]="list['value']"> {{list['key']}}</option>
              </select>
              <div *ngIf="projectStatus.invalid && (projectStatus.dirty || projectStatus.touched)" class="alert alert-danger">
                Select Project Status
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group ">
              <label for="projectAssignedOn" class="control-label">Project Assigned Date</label>
              <input type="date" id=projectAssignedOn name="projectAssignedOn" class="form-control" [(ngModel)]="project['projectAssignedOn']"
                placeholder="Project Assigned Date" value="" #projectAssignedOn="ngModel" required>
              <div *ngIf="projectAssignedOn.invalid && (projectAssignedOn.dirty || projectAssignedOn.touched)" class="alert alert-danger">
                Select Assigned Date
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="taskDetails">
    <div>
      <form #parta="ngForm">
        <div class="row inputbox">
          <div class="col-3">
            <label for="taskTitle" class="control-label">Task Title</label>
            <input type="text" id="taskTitle" name="taskTitle" class="form-control" [(ngModel)]="task['taskTitle']" placeholder="Task Title"
              value="" #taskTitle="ngModel" required>
            <div *ngIf="taskTitle.invalid && (taskTitle.dirty || taskTitle.touched)" class="alert alert-danger">
              Enter Task Title
            </div>
          </div>
          <div class="col-3">
            <div class="form-group ">
              <label for="taskDescription" class="control-label">Task Description</label>
              <input type="text" id="taskDescription" name="taskDescription" class="form-control" [(ngModel)]="task['taskDescription']" placeholder="Task Description"
                value="" #taskDescription="ngModel" required>
              <div *ngIf="taskDescription.invalid && (taskDescription.dirty || taskDescription.touched)" class="alert alert-danger">
                Enter Task Description
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group ">
              <label for="taskAssignbedTo" class="control-label">Assigned To</label>
              <input type="text" id="taskAssignbedTo" name="taskAssignbedTo" class="form-control" [(ngModel)]="task['taskAssignbedTo']" placeholder="Task Assigned"
                value="" #taskAssignbedTo="ngModel" required>
              <div *ngIf="taskAssignbedTo.invalid && (taskAssignbedTo.dirty || taskAssignbedTo.touched)" class="alert alert-danger">
                Enter Task Description
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="d-inline mx-auto center">
              <button  (click)="addTask()"  href="javascript:void(0)" class="btn btn-default btntheme">Save</button >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="deadlineDetails">
    <div></div>
  </div>
</div>
<app-select-team *ngIf="isselect" [isselect]="isselect" (isselectChange)="isselectChange($event)" (selectTeam)="selectedTeam($event)"></app-select-team>