<header id="adminHeader">
  <nav class="navbar navbar-expand-lg  navbar-dark adminheader">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#"><img src="../../../assets/images/gst-logo.png" alt="gst logo" class="adminlogo" /></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto headnavright">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary usernamedrop" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Srinivas Pulugu
              <i class="fa fa-chevron-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="btn btn-default btn-circle" href="#"><i class="fa fa-user"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
